.body{
    background-image: url(../images/pexels-souvenirpixels-414612.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(10px);
    
}

.box{
    background-color: rgba(255, 255, 255, 0.351);
    padding: 5px 30px 5px ;
    width: 25%;
    align-items: center;
    text-align: justify;
    box-shadow: 0px 25px 40px ;
    margin: 20px 0px 20px 40px  ;
    display: inline-block;
    vertical-align: top ;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    

}
.lorem_text p{
    color: white;
    text-align: justify;
    margin: 20px ;
}
.heading_h1{
    padding: 5px;
    background-color: rgba(255, 85, 0, 0.607);
    color: white;
    text-align: center;
    
}
.heading_h3{
    padding: 5px;
    background-color: rgba(255, 85, 0, 0.607);
    color: white;
    text-align: center;
    width: 15%;
    align-items: center;
    border-radius: 10px;
}
.lorem_info{
    text-align: center;
    font-size: large;
    background-color: rgba(255, 85, 0, 0.395);
}
.input {
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    height: auto;
    padding: 0px 0px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.351);
     box-shadow: 10px 10px 10px  rgba(255, 85, 0, 0.395);
}
.input_form{
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;   
   
    
}
.button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    gap: 100px; 
}

.button button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border-bottom: 2px solid white; 
    
   
}
.placeholder_color::placeholder{
    color: white;
    opacity: 1;
}
.input input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    background: transparent;
    border-bottom: 2px solid white; 
    font-size: 12px;
    border-radius: 10px ;
}
.input p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 115, 0, 0.9);
    margin-bottom: 20px;
}
.images img{
    width: 400px;
    gap: 20px;
    border-radius: 10px;
}
.images_in{
 border: 2px solid  white;
 width: 400px;
 background-color: rgba(255, 85, 0, 0.395);
 border-radius: 10px;
 padding: 10px ;
 height: 320px auto;
}
.pic_text {
  text-align: right;
}
.pic_text a{
  color: white;
  
}

.images{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;  
    margin: 20px ;
}
