.body{
    background-image: url(../images/pexels-souvenirpixels-414612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(10px);
    
}

.box{
    background-color: rgba(255, 255, 255, 0.351);
    padding: 5px 30px 5px ;
    width: 25%;
    align-items: center;
    box-shadow: 0px 25px 40px ;
    margin: 20px 0px 20px 40px  ;
    display: inline-block;
    vertical-align: top ;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    

}
.heading_h1{
    padding: 5px;
    background-color: rgba(255, 85, 0, 0.607);
    color: white;
    text-align: center;
    
}
.heading_h3{
    padding: 5px;
    background-color: rgba(255, 85, 0, 0.607);
    color: white;
    text-align: center;
    width: 15%;
    align-items: center;
    border-radius: 10px;
}
.lorem_info{
    text-align: center;
    font-size: large;
    background-color: rgba(255, 85, 0, 0.395);
    


}



